.container .title {
    color: #d0efff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.container .link {
    color: #d0efff;
    font-size: 2.0rem;
    text-align: center;
    margin: 0.5rem 0 1rem;
}

.title .query-text { 
    color: #f7d354;
}

.topMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.topMovies div {
    width: 30%;
    color: #d0efff;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #02033b;
    padding: 1rem;
}

.topMovies div img {
    max-width: 100%;
    max-height: 70%;
}

.topMovies div img, h2, p {
    margin-bottom: 1rem;
}

.topMovies div svg {
    color: #f7d354;
}


.topMovies div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #033047;
    padding: 1rem 0.5rem;
    text-align: center;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.topMovies div a:hover {
    background-color: transparent;
    color: #d0efff
}

